Django==2.2.1
django-cors-headers<=4.2.0
#django-crypto-fields==0.1.14
django-debug-toolbar<=4.1.0
django-extensions<=3.1.1
django-ipware<=2.1.0
django-js-reverse<=0.9.1
django-logentry-admin<=1.1.0
django-rest-swagger<=2.2.0
django-revision<=0.1.14
django-simple-history<=3.3.0
djangorestframework<=3.14.0
model-bakery<=1.2.0
git+https://github.com/botswana-harvard/edc-base.git@0.2.24#egg=edc-base
https://github.com/botswana-harvard/edc-identifier.git
https://github.com/botswana-harvard/edc-constants.git
https://github.com/botswana-harvard/edc-device.git
https://github.com/botswana-harvard/edc-model-admin.git
git+https://github.com/botswana-harvard/edc-identifier.git@develop#egg=edc-identifier
git+https://github.com/botswana-harvard/edc-registration.git@0.2.11#egg=edc-registration
git+https://github.com/botswana-harvard/django-crypto-fields.git@0.1.14#egg=django-crypto-fields
git+https://github.com/botswana-harvard/edc-protocol.git@0.1.5#egg=edc-protocol
git+https://github.com/botswana-harvard/edc-consent.git@0.2.12#egg=edc-consent
git+https://github.com/botswana-harvard/edc-locator.git@0.2.6#egg=edc-locator
git+https://github.com/botswana-harvard/edc-visit-tracking.git@0.2.13#egg=edc-visit-tracking
git+https://github.com/botswana-harvard/edc-appointment.git@0.2.13#egg=edc-appointment
git+https://github.com/botswana-harvard/edc-visit-schedule.git@0.2.10#egg=edc-visit-schedule
git+https://github.com/botswana-harvard/edc-facility.git@0.1.3#egg=edc-facility
git+https://github.com/botswana-harvard/edc-timepoint.git@0.1.3#egg=edc-timepoint
git+https://github.com/botswana-harvard/edc-form-validators.git@0.1.2#egg=edc-form-validators
git+https://github.com/botswana-harvard/edc-action-item.git@0.1.2#egg=edc-action-item
git+https://github.com/botswana-harvard/edc-prn.git@0.1.2#egg=edc-prn
git+https://github.com/botswana-harvard/edc-model-wrapper.git@0.1.7#egg=edc-model-wrapper
git+https://github.com/botswana-harvard/edc-subject-dashboard.git@0.2.3#egg=edc-subject-dashboard
git+https://github.com/botswana-harvard/edc-dashboard.git@0.3.1#egg=edc-dashboard

