{% extends "edc_dashboard/listboard.html" %}
{% load edc_base_extras %}
{% load mock_study_dashboard_extras %}
{% block listboard_panel %}
{% endblock listboard_panel %} 
{% block listboard_table_header %}
<th>Subject Identifier</th>
<th>Screening Identifier</th>
<th>Name</th>
<th>Literate</th>
<th>Gender</th>
{% endblock listboard_table_header %} 
{% block listboard_table_button_column %}
{% endblock listboard_table_button_column %} 
{% block listboard_table_columns %}
<td>{{result.subject_identifier}}</td>
<td>{{result.screening_identifier}}</td>
{% endblock listboard_table_columns %}
